@page "/profile/{UserName}/following"
@using SocialMediaTesting.Models
@using SocialMediaTesting.Services
@inject UserService UserService

<PageTitle>@UserName's following</PageTitle>

<h3>Following:</h3>

@if (followingUsers.Count == 0)
{
    <p>Not following anyone yet</p>
}
else
{
    foreach (User u in followingUsers)
    {
        <p><a href="/profile/@u.UserName">@u.Name</a></p><br/>
    }
}

@code {
    [Parameter]
    public string UserName { get; set; }

    private List<User> followingUsers = new List<User>();

    protected override async Task OnParametersSetAsync()
    {
        // Gets user, pulls list of users they are following
        var user = await UserService.GetUserByUserName(UserName);

        if (user != null && user.FollowingIds != null)
        {
            followingUsers = await UserService.GetUsersByIds(user.FollowingIds);
        }
        else
        {
            followingUsers = new List<User>();
        }
    }
}